<nav class="navbar navbar-expand-lg navbar-dark bg-dark container">
  <%= link_to "Teste Nama", purchases_index_path, class: 'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <%= link_to "Compras", purchases_index_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to "Produtos", products_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to "Compradores", buyers_path, class: 'nav-link' %>
      </li>

      <li class="nav-item">
        <%= link_to "Fornecedores", providers_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>